* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.mainContainer {
  position: relative;
  display: inline-block;
}

.infoContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.playerHealth {
  position: absolute;
  background-color: blue;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.playerHealthContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
}

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemyHealth {
  position: absolute;
  background-color: blue;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.enemyHealthContainer {
  position: relative;
  height: 30px;
  width: 100%;
}

.fullIndicator {
  background-color: yellow;
  height: 30px;
  width: 100%;
}

.finalInfo {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}