* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: black;
}

.mainContainer {
  position: relative;
  display: inline-block;
}

.infoContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.playerHealth {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.playerHealthContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 4px solid white;
  border-right: 0;
}

.timer {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
}

.enemyHealth {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.enemyHealthContainer {
  position: relative;
  width: 100%;
  border: 4px solid white;
  border-left: 0;
}

.fullIndicator {
  background-color: #be123c;
  height: 30px;
  width: 100%;
}

.finalInfo {
  position: absolute;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
